name: "build"
on:
  push:
    paths-ignore:
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'README.md'
      - 'renovate.json'
  pull_request:
  workflow_dispatch:
jobs:
  launch-linux:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-java@v5.1.0
        with:
          distribution: 'adopt'
          java-version: '8'
      - name: Test Gradle
        run: |
          docker compose up -d
          chmod +x ./gradlew
          chmod +x ./wait-for-it.sh
          ./wait-for-it.sh localhost:19006 -t 30 -- ./gradlew --stacktrace --scan

  release:
    needs:
      - launch-linux
    if: github.event_name == 'push'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Install Node
        uses: actions/setup-node@v6.2.0
        with:
          node-version-file: package.json
      - uses: actions/setup-java@v5.1.0
        with:
          distribution: 'adopt'
          java-version: '8'
      - name: Deploy
        run: |
          ./gradlew shadowJar
          mkdir -p dist/
          cp build/libs/* dist/
      - name: Release
        run: |
          npm install
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
